.queryindex, .addIndex {
    display: block;
    width: 200px;
    float: left;
    margin-right: 0.5em;
}
.queryoperator, .addOperator {
    display: block;
    width: 150px;
    float: left;
    margin-right: 0.5em;
}
.queryresults {
    float: right;
}
.previewSearchResultsHeading {
    margin-top: 1em;
}
#advancedsearch .criteria {
    margin: 0 1em 0.5em 0;
}
.removecriteria {
    border: 0;
    padding: 0;
    background: transparent;
    cursor: pointer;
}
.querywidget dt {
    border: 1px solid #8CACBB;
    cursor: pointer;
}
.querywidget .arrowDownAlternative {
    float: right;
    padding-right: 0.25em;
}
.widgetPulldownMenu {
    position: absolute;
}
.multipleSelectionWidget dd {
    width: 200px;
    border: 1px solid #8CACBB;
    background: white;
    overflow:auto; 
    height:6.5em;
}
.multipleSelectionWidget label {
    display: block;
}
.querywidget {
    float: left;
    width: 200px;
    border-width: 1px;
}
.referenceWidget input {
    width: 200px;
}
dl.querywidget {
    margin: 0;
}
#content dl.querywidget dd,
dl.querywidget dd {
    margin: 0;
}
.dateRangeWidget input {
    width: 80px;
}
div.dateRangeWidget, dl.multipleSelectionWidget {
    border: solid 1px transparent;
}
