[buildout]
extends =
    https://raw.github.com/collective/buildout.plonetest/master/test-4.3.x.cfg
    https://raw.githubusercontent.com/plone/plone.app.robotframework/master/versions.cfg

extensions = mr.developer

package-name = plone.app.collection
package-extras = test

auto-checkout = 
    archetypes.querywidget
#    plone.app.querystring

parts += robot

[instance]
debug-mode = on
verbose-security = on

[robot]
recipe = zc.recipe.egg
eggs =
    Pillow
    ${test:eggs}
    plone.app.robotframework [debug]

[versions]
plone.app.collection =
archetypes.querywidget =  1.1
plone.app.querystring = 1.2.2

[test]
recipe = zc.recipe.testrunner
eggs = plone.app.collection [test]

[sources]
archetypes.querywidget = git git://github.com/plone/archetypes.querywidget.git pushurl=git@github.com:plone/archetypes.querywidget.git
plone.app.querystring = git git://github.com/plone/plone.app.querystring.git pushurl=git@github.com:plone/plone.app.querystring.git
